@model IEnumerable<MvcDataAssignments.Models.PersonModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddPerson")
</p>
@*@using (Html.BeginForm("Index", "personellist", FormMethod.Get))
{
    <p>
        Name/City: @Html.TextBox("id") <br />
        <input type="submit" value="Filter" />
    </p>
}*@

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "personList"
    }))
{
    <input type="search" name="id" />
    <input type="submit" value="search by Name/City" />
}


<div class="container" id="personList">
    <div class="row">

        @Html.Partial("PartialListView", Model)

        @*@foreach (var item in Model)
        {

            @Html.Partial("PersonPartialView", item)

        }*@
    </div>
</div>
