@model IEnumerable<MvcDataAssignments.Models.PersonModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddPerson")
</p>
@using (Html.BeginForm("Index", "personellist", FormMethod.Get))
{
    <p>
        Name/City: @Html.TextBox("id") <br />
        <input type="submit" value="Filter" />
    </p>
}


<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {

            @Html.Partial("PersonPartialView", item)

        }
    </div>
</div>
